@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --DarkColor: #445e61;
    --invertedColor: #ab938e;
    --backgroundGrey: #eeeeee;
}

::selection {
    color: white;
    background-color: var(--DarkColor);
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    border: 2px solid var(--backgroundGrey);
    background: white;
    z-index: 20;
    border-radius: 0 0 20px 20px;
}

.desktop-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 8;
}

.desktop-end-svg {
    width: 100%;
    position: relative;
    height: auto;
}

.row1 {
    position: relative;
    left: 0;
    width: 50%;
    height: auto;
}

.row2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 420vh;
    background: white;
}

.faq-svg {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    transition: 0.5s all;
    filter: opacity(40%);
}

.faq-svg.is-clicked {
    transform: rotate(180deg);
    filter: opacity(90%);
}

.app-box {
    position: sticky;
    top: 20vh;
    margin-left: 25%;
    width: 40%;
    height: 70vh;
    min-height: 400px;
    max-height: 600px;
    background: #fff;
    border-radius: 20px;
    transition: 0.1s all ease;
    box-shadow: rgb(25 32 57 / 20%) 0px 2px 24px 0px;
    z-index: 10;
    overflow: hidden;
}

.app-method-specific {
    width: 100%;
}

.app-method-specific h4 {
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.app-method-specific h4 span{
    font-weight: 400;
}


.app-svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.app-box h2 {
    position: relative;
    margin-left: 30px;
    padding-top: 40px;
    font-size: 29px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    z-index: 2;
}

#learn-more-button {
    padding: 13px 35px;
    font-size: 16px;
}

#try-button {
    padding: 13px 35px;
    font-size: 16px;
}

#try-menu-button {
    padding: 10px 30px;
}

#add-to-browser-button {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    font-size: 16px;
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#add-to-browser-button h5 {
    align-items: center;
    margin-top: 4px;
    font-size: 18px;
    margin-right: 15px;
}

.add-to-browser-svg {
    width: 30px;
    height: 30px;
}

.dark-round-button {
    
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    background: var(--DarkColor);
    color: white;
    margin-left: 30px;
    transition: 0.3s all ease;
}

.dark-round-button:hover {
    border: 2px solid var(--DarkColor);
    background: white;
    color: var(--DarkColor);
}

.light-round-button {
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    cursor: pointer;
    background: var(--backgroundGrey);
    color: var(--DarkColor);
    transition: 0.3s all ease;

}

.light-round-button:hover {

    border: 2px solid transparent;
    background: var(--DarkColor);
    color: white;
}

.light-round-button:hover .add-to-browser-svg{

    filter: brightness(400%);
}


.sec {
    width: 100%;
    height: 80vh;
    background: #fff;
}

#section1 {
    height: 100vh;
    width: 100%;
    background: #fff;
}


.app-c {
    position: relative;
    height: 420vh;
    width: auto;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
}




.prg-percent {
    margin-left: calc(50% - 96px);
    padding-top: calc(50% - 96px);
    transform: scale(0.9);
    width: 192px;
    height: 192px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.prg-percent svg {
    position: absolute;
    width: 192px;
    height:192px;
}

.prg-percent svg circle {
    width: 192px;
    height: 192px;
    fill: none;
    stroke-width: 6;
    stroke: var(--DarkColor);
    transform: translate(3px, 3px);
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    stroke-linecap: round;
    transition: 0.3s ease all;

}

#prg-circle-fill1 {
    stroke-dasharray: 0;
    stroke: #C9C9C9;
}

#prg-circle-fill2 {
    stroke-dashoffset: calc(565 - (565 * 2) / 100);

    stroke: var(--DarkColor);
}




.prg-item-img {
    position: absolute;
    position: 0;
    width: 162px;
    height:162px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    object-fit: cover;
    padding: 12px;
    filter: saturate(0%);
}


.section-content {
    width: 70%;
    margin-left: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    
}


.section-content h3 {
    margin-top: 20px;
    font-size: 27px;
    font-family: 'Merriweather', serif;

}

.section-content h4 {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
}

.section-content h5 {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
}

.advantage-box {
    display: flex;
    margin-top: 20px;
}



.functions-icon-box {
    width: 60px;
    height: 60px;
    background: var(--backgroundGrey);
    border-radius: 20px;
    border: 2px solid #d1d1d1;
}

.functions-icon {
    margin-left: 15px;
    margin-top: 15px;
    height: 30px;
    width: auto;
    filter: brightness(70%);
}



.functions-icon-tick-box {
    width: 30px;
    height: 30px;
    background: var(--backgroundGrey);
    border-radius: 13px;
    border: 2px solid #d1d1d1;
}

.functions-tick {
    margin: 7.5px;
    height: 15px;
    width: auto;
    filter: brightness(70%);
}


.ham-mobile-nav {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 2px solid #bdbdbd;
    border-radius: 0 0 15px 15px;
}

.vertical-menu {
    height: 60px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    float: right;
    right: 20px;
}

.menu-top {
    display: inline-block;
}

.menu-bottom {
    display: inline-block;
    margin-top: 0;
}

.vertical-menu a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
}

#header-buttons {
    margin-top: 40px;
}






.column {
    position: relative;
    margin-left: 30%;
    padding-top: 35vh;
    z-index: 15;
    
    
}

.column h2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 400;
    width: 80%;
    
    
}

.column span {
    color: var(--DarkColor);
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

.column h3 {
    width: 90%;
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    margin: 20px 0 10px;
}




#method-quan-number {
    font-weight: 600 !important;
}







.app-method-progress {
    display: flex;
    justify-content: center;
}




.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

  .faq-info-div {
    position: relative;
    display: block;
    margin-left: 15%;
    width: 70%;
    padding-bottom: 100px;
}


.faq-info-div h2{
    font-family: 'Merriweather', serif;
    padding-top: 40px;
    font-size: 44px;
    font-weight: 400;
    padding-bottom: 120px;
}

.faq-div {
    border: 0px solid #333;
    border-radius: 10px;
    z-index: 6;
    width: 100%;
}

#faq-list1 {
    z-index: 10;
    height: auto;
}

#faq-list1 h3 {
   margin-top: 10px;

}


#faq-list2 {
    z-index: 9;
    height: auto;
}

#faq-list3 {
    z-index: 8;
    height: auto;
}

#faq-list4 {
    z-index: 7;
    height: auto;
}

#faq-list5 {
    z-index: 6;
    height: auto;
}

#faq-list6 {
    z-index: 5;
    height: auto;
}

#faq-list7 {
    z-index: 4;
    height: auto;
}

#faq-list8 {
    z-index: 3;
    height: auto;
}

#faq-list9 {
    z-index: 2;
    height: auto;
}

#faq-list10 {
    z-index: 1;
    height: 96px;
    margin-top: -30px;
    background-color: white;
    position: relative;
    border: 2px solid var(--DarkColor);
    border-radius: 15px;
}

.faq-elements {
    margin-top: -30px;
    background-color: white;
    position: relative;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
    transition: 0.3s all ease;
    cursor: pointer;
    padding-bottom: 10px;
    box-shadow: rgb(25 32 57 / 10%) 0px 2px 24px 0px;
}



.faq-elements h3 {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    width: calc(100% - 50px);

}

.faq-elements:hover {
    padding-bottom: 20px;

}



.faq-response {
    margin-left: 10px;
    overflow: hidden;
    max-height: 0;

    -webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

.faq-response.is-clicked {
    max-height: 150px;
}

.faq-response h4 {
    font-weight: 200;
    margin-top: 10px;
    font-size: 17px;
    width: calc(100% - 50px);
}






.pricing-info {
    position: relative;
    display: block;
    margin-left: 15%;
    width: 70%;
    padding-bottom: 30px;
}


.pricing-info h2{
    font-family: 'Merriweather', serif;
    padding-top: 20px;
    font-size: 44px;
    font-weight: 400;
    padding-bottom: 40px;
}

.all-pricing-plans {
    width: 100%;
    display: block;
}

.pricing-div {
    width: 100%;
    position: relative;
    border: 0px solid #333;
    border-radius: 10px;
    z-index: 6;
    margin-top: 100px;
    margin-right: 0;
}

#pricing-list1 {
    z-index: 10;
    padding-bottom: 15px;
    margin-top: -30px;
    background-color: white;
    position: relative;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
}

#pricing-list1 h3{
    margin-top: 13px;
    margin-left: 13px;
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

#pricing-list1 h4{
    margin-top: 13px;
    margin-left: 13px;
    font-size: 20px;
    width: 70%;
}

#pricing-list1 h5{
    position: absolute;
    top: 13px;
    right: 13px;
    margin: 0;
    font-size: 20px;
    width: 50%;
    text-align: end;
}

#pricing-list2 {
    z-index: 9;
}

#pricing-list3 {
    z-index: 8;
}

#pricing-list4 {
    z-index: 7;
}

#pricing-list5 {
    z-index: 6;
}

#pricing-list6 {
    z-index: 5;
}

#pricing-list7 {
    z-index: 4;
}

#pricing-list8 {
    z-index: 3;
}

#pricing-list9 {
    z-index: 2;
}

#pricing-list10 {
    z-index: 1;
    height: 96px;
    margin-top: -30px;
    background-color: white;
    position: relative;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
}

.pricing-elements {

    height: 86px;
    margin-top: -30px;
    background-color: white;
    position: relative;
    border: 2px solid #d1d1d1;
    border-radius: 15px;
    box-shadow: rgb(25 32 57 / 10%) 0px 2px 24px 0px;
}

.pricing-elements h3 {
    position: absolute;
    margin-left: 15px;
    font-size: 18px;
    bottom: 18px;

}


.tick-box {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.pricing-tick {
    margin-top: 6px;
    margin-left: 6px;
    width: 18px;
    height: 18px;
}


#pricing-button {
    position: absolute;
    bottom: 12px;
    width: 80%;
    left: 10%;
    height: 40px;
    margin-bottom: 0 !important;
}

.end-section {
    width: 100%;
    justify-content: center;
}

.end-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
    width: 70%;
    margin-left: 15%;
}

.end-section h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 70%;
    margin-left: 15%;
}

.end-section span {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: var(--DarkColor);
    letter-spacing: 2px;
}


.footer {
    height: auto;
    margin-bottom: 50px;
    background-color: var(--backgroundGrey);
    border-radius: 20px 20px 0 0;
    border: 2px solid #d1d1d1;
}

.footer-left {
    display: flex;
    width: 30%;
    margin-left: 10%;
}

.footer-left h4 {
    padding: 40px;
    font-weight: 400;
    

}


.footer h5 {
    order: 1;
    padding: 7px;
    margin-left: 10px;
    font-weight: 400;

}

.footer h5 span {
    font-weight: 600;

}

.footer h6 {
    text-align: center;
    border-top: 2px solid #d1d1d1;
    padding: 20px;
    
}
.footer-right h3 {
    margin-bottom: 20px;
    

}

.footer-right {
    display: flex;
    padding: 20px;
}



.footer-list {
    padding: 20px;
    width: 20%;
}

.footer-list h4 {
    margin-top: 10px;
    font-weight: 400;
    cursor: pointer;
}

.footer h6 {
    text-align: center;
    border-top: 2px solid #d1d1d1;
    padding: 20px;
    
}

.footer-check-box {
    display: flex;
    width: 80%;
    margin-left: 40px;
    padding-bottom: 10px;
}



.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 32px;
    height: 3px;
    background: var(--DarkColor);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .3s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background: var(--DarkColor);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .3s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-11px);
  }
  .menu-btn__burger::after {
    transform: translateY(11px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  @media only screen and (max-width: 1050px)  { 


    .desktop-svg {
        display: none;
    }

    .section1 {
        background: transparent;
    }

    .row2 {
        display: none;
    }

    .row1 {
        position: relative;
        width: 100%;
        background: transparent;
    }

    .app-box {
        display: none;
    }

    .navbar {
        display: none;
    }

    .section-content {
        width: 80%;
         height: auto; 
         margin-left: 10%;
         float: left;
         padding-bottom: 50px;
         padding-top: 35px;
        
    }

    .section1 {
        padding-bottom: 50px;
        height: auto;
    }

    .column {
        margin-left: 10%;
    }

    .dark-round-button {
        margin-left: 2px;
    }

    .light-round-button {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .sec {
        height: auto;
    }

    .faq-info-div {
        width: 80%;
        margin-left: 10%;
    }

    .pricing-info {
        width: 80%;
        margin-left: 10%;
    }

    .footer-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .footer {
        display: block;
    }

    .footer-list {
        width: auto;
    }

    .footer h5 {
        order: 1;
        padding: 7px;

    }

    .footer h6 {
        text-align: center;
        border-top: 2px solid #d1d1d1;
        padding: 20px;
        
    }


    #footer1 { grid-area: 1 / 1 / 2 / 2; }
    #footer2 { grid-area: 1 / 2 / 2 / 3; }
    #footer3 { grid-area: 2 / 1 / 3 / 2; }
    #footer4 { grid-area: 2 / 2 / 3 / 3; }

    .menu-btn {
        display: flex;
        margin-right: 10px;

      }

    .nav {
        position: fixed;
        width: 100%;
        background: var(--backgroundGrey);
        border: #d1d1d1 2px solid;
        border-radius: 0 0 20px 20px;
        transition: 0.3s all ease;
        z-index: 30;
        max-height: 60px;

        -webkit-transition: max-height 0.3s ease-out;
        -moz-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
    }

    .nav.open {

        height: auto;
        max-height: 100%;
        transition: max-height 0.25s ease-in;

    }

    .nav h2 {
        color: var(--DarkColor);
        padding: 13px;
        padding-left: 15px;
        font-weight: 600;
        font-family: 'Merriweather', serif;
        border: transparent 2px solid;
        transition: .3s all ease;
        letter-spacing: 2px;

    }

    .nav.open h2 {

        border: #d1d1d1 2px solid;
        border-radius: 0 0 20px 20px;
        padding-bottom: 18px;


    }

    .nav-content {
        display: grid;
        text-align: center;
        margin-top: 40px;
        
        max-height: 0;

        -webkit-transition: max-height 0.3s ease-out;
        -moz-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
        transition: .3s all ease;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .nav-content.open{
        max-height: 100%;
        transition: max-height 0.25s ease-in;

    }

    .nav-content.open a{
        margin-left: 15%;
        z-index: 30;

    }


    .nav-content a {
        margin-left: 100%;
        font-weight: 600;
        width: 70%;
        text-decoration: none;
        border: none;
        color: var(--DarkColor);
        font-size: 25px;
        
        padding-bottom: 30px;
        transition: .3s all ease;
        z-index: -200;
    }

  }

